body {
  background-image: url("../img/thepig.jpg");
  font-family: 'Clarendon', Open Sans;
  color: white;
}

.player-console {
  display: none;
}

.what {
  font-family: 'Clarendon', Open Sans;
  height: 450px;
}

input[type=text], select {
  color: yellow;
  padding: 10px 16px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  box-sizing: border-box;
  background-color: black;
}
