body {
  font-family: 'Hind Siliguri', Open Sans;
}

.player-console {
  display: none;
}

.what {
  height: 450px;
}

input[type=text], select {
  padding: 10px 16px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #ccc;
}
