body {
  background-image: url("../img/thepig2.jpg");
  font-family: 'Clarendon', Open Sans;
  color: white;
}

.player-console {
  display: none;
}

.what {
  font-family: 'Clarendon', Open Sans;
  height: 450px;
}

input[type=text], select {
  color: purple;
  padding: 10px 16px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid limegreen;
  box-sizing: border-box;
  background-color: black;
}

.btn {
  background-color: #3232ff;
  color: white;
  font-size: 18px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid red;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 30px;
}
